.player {
    width: 300px;
    display: flex;
    align-items: center;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;

    background-color: #F5F5F5;
    span {
        font-size: 28px;
        margin-left: 16px;
        color: #38CFFF;
    }

    img {
        width: 70px;
        height: 70px;
        object-fit: cover;
    }
}

.player-active {
    background-color: #38CFFF;
    span {
        color: #F5F5F5 !important;

    }
}