.card-design {
    padding:15px;
    gap: 10px;
    border-radius: 15px;
}
.card-title {
    font-size: 20px;
    color: #2A2979;
}


@media (width < 700px) {
  .card-design {
    border-radius: 0;
  }
}
